html, body {
	background-color:#111;
	color:#bec7d2;
	font-family:Helvetica, Arial, sans-serif;
	font-size:.88em;
	font-weight:400;
	height:100%;
	line-height:15px;
	margin:0;
	padding:0;
	text-shadow:1px 1px 0 rgba(0,0,0,0.3);
}

strong {
	color:#f7e279;
	font-weight:700;
}

#slot1 {
    min-height: 100px;
    min-width: 100px;
    max-height: 100px;
    max-width: 100px;
    padding:0 0px;
}

h1 {
	color:#e09456;
	font-family:Merriweather, Georgia, serif;
	font-size:1.21em;
	font-weight:800;
	margin:8px 0 0;
	overflow:hidden;
	padding:8px 0;
	word-wrap:break-word;
}
h1 img {
	margin:0 8px;
	position:absolute;
}
h1 a { text-decoration:underline; }

h2, h3, h4 {
	color:#f7e279;
	display:block;
	font-weight:700;
}

h2 {
	clear:both;
	font-size:100%;
	margin:20px 0 8px;
}

h3 {
	margin:4px 0;
}

h4 {
	margin:8px 0;
}

a {
	color:inherit;
	text-decoration:none;
}
a:hover { color:#fff; }

p {
	margin:0;
	padding:0 0 8px;
}

ul {
	margin-left:0;
	margin-top:2px;
	padding-left:1em;
	text-indent:-1em;
}
ul li {
	list-style-position:inside;
	list-style-type:square;
	padding-bottom:10px;
}

.noselect {
	user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-webkit-user-select:none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
	padding:0;
	width:100%;
}
td {
	border:0;
	padding:0;
}
th {
	background-color:#c01614;
	background-image:url('./img/grunge_button.png/'), linear-gradient(tobottom,#c01614,#a01211);
	color:#f7e279;
	font-weight:700;
	text-shadow:1px 1px 3px #111;
}

#wrap {	min-height:100%; }

#results {
	float:left;
	margin-right:16px;
	text-align:right;
	width:594px;
}

#bingo {
	user-select: none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-o-user-select:none;
	-webkit-user-select:none;
	margin-top:16px;

	background-image: url(../images/camo-black-small.png);
}

#bingo .rowcol {
	background-color:#000811;
	border:1px #0a245a solid;
	color:#3c70df;
	font-size:75%;
	font-weight:700;
}

#bingo .rowcol:hover {
	background-color:#1448b3;
	color:#fff;
}

#bingo tr:first-child td,
#bingo tr:last-child td {
	background-color:#000811;
	border:1px #0a245a solid;
	color:#3c70df;
	font-size:75%;
	font-weight:700;
	height:30px;
}

#bingo tr:first-child td:hover,
#bingo tr:last-child td:hover {
	background-color:#1448b3;
	color:#fff;
}

.hidename .wepname {
	display: none;
}

#bingo td {
	-moz-box-shadow:inset 0 0 50px rgba(0,0,0,0.6);
	-webkit-box-shadow:inset 0 0 50px rgba(0,0,0,0.6);
	background-color:#00000075;
	border:1px #424242 solid;
	box-shadow:inset 0 0 50px rgba(0,0,0,0.6);
	cursor:pointer;
	height:110px;
	text-align:center;
	width:110px;
    max-width:110px;
    max-height:110px;

	--shadow: 0 0 1.5px black;

	font-family: "Splat-text";
    font-weight: normal;
    text-shadow: var(--shadow), var(--shadow), var(--shadow), var(--shadow), var(--shadow), var(--shadow), var(--shadow), var(--shadow), var(--shadow), var(--shadow), var(--shadow);
    font-size: 14px;
	transition: 0.05s linear;
}

#bingo:not(.hidename) img {
	width: 70px;
	height: 70px;
}

#bingo td:first-child {
	background-color:#000811;
	border:1px #0a245a solid;
	color:#3c70df;
	font-size:75%;
	font-weight:700;
	width:35px;
}

#bingo td:first-child:hover {
	background-color:#1448b3;
}

#bingo td:hover,
#bingo td.hover {
	background-color:#00408652;
	color:#fff;
}

#bingo .greensquare {
	background-color:#03b2265c;
}

#bingo .greensquare:hover,
#bingo .greensquare.hover {
	background-color:#00ff495c;
}

#bingo .redsquare {
	background-color:#fc00005c;
}

#bingo .redsquare:hover,
#bingo .redsquare.hover {
	background-color:#ff00007d;
}

#bingoPage #about_bingo {
	float:right;
	width:365px;
}

.container {
	margin:0 auto;
	overflow:auto;
	padding:8px 0 8px 16px;
	width:976px;
}

.left   { float:left;  text-align:left;  }
.right  { float:right; text-align:right; }
.center { text-align:center; }